title: "Evolving Imaging and Photography"
description: "Courses and learning materials by Marco De Mutiis"
url: "https://marcodemutiis.github.io"
baseurl: "/evolving-imaging-and-photography"

markdown: kramdown
highlighter: rouge

collections:
  courses:
    output: true
    permalink: /:collection/:path/

defaults:
  - scope:
      path: ""
      type: "courses"
    values:
      layout: "lesson"
